header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 40px 10%;
    font-family:'Mario Kart DS' ;
    
    
}
.logo{
    color: var(--clr-dark);
    cursor: pointer;
    margin-right: auto;
}
.nav__links{
    list-style: none;
}
.nav__links li{
    display: inline-block;
    text-decoration: none;
    padding: 0 20px;
    
}
.nav__links li a{
    text-decoration: none;
    color: var(--clr-dark);
    font-size: var(--size-xl);
}
span{
    color: var(--clr-blue);
}
h1{
    font-size: var(--size-xl);
    cursor: pointer;
}
